Reference : https://lsjsj92.tistory.com/568

# SVD ê¸°ë°˜ DKT ë¬¸ì œ ë¶„ì„
- ğŸ¦† ê°œìš” (Overview)
- âš™ï¸ í™˜ê²½ ì„¤ì • ë° ì „ì²˜ë¦¬ (Environment Setting & Preprocessing)
- ğŸ¯ SVD ë¶„ì„
- ğŸ¯ ì˜ˆì¸¡ ë° í‰ê°€

## ğŸ¦†ê°œìš” (Overview)

### Deep Knowledge Tracing (DKT)

í•™ìŠµìì˜ í•™ìŠµ ìˆ˜ì¤€ì„ ì¶”ì í•˜ëŠ” ë¬¸ì œë¡œ, ì—¬ê¸°ì—ì„œëŠ” í•™ìŠµìì˜ í˜„ì¬ ì„±ì·¨ ì •ë„ë¥¼ ë°”íƒ•ìœ¼ë¡œ ìƒˆë¡œìš´ ë¬¸ì œë¥¼ ë§ì¶œ ìˆ˜ ìˆì„ì§€ë¥¼ íŒë³„í•˜ëŠ” ë¬¸ì œì—ì„œ Collaborative Filtering (Recommendation System) ë¬¸ì œë¡œ ì¹˜í™˜í•˜ì—¬ ì ‘ê·¼í•˜ê³ ì í•œë‹¤.

### ì¶”ì²œ ì‹œìŠ¤í…œ (Recommendation System: RS)

ë°ì´í„°ë¡œë¶€í„° ì‚¬ìš©ìì˜ ì„ í˜¸ì— ë§ëŠ” ì •ë³´ë¥¼ í•„í„°ë§í•˜ì—¬ ì‚¬ìš©ìê°€ ì›í•˜ëŠ”, ë˜ëŠ” ê´€ì‹¬ì„ ê°€ì§ˆë§Œí•œ ì •ë³´ë¥¼ ì„ ë³„í•˜ì—¬ ì œê³µí•˜ëŠ” ì‹œìŠ¤í…œì„ ë§í•œë‹¤. 

> ì¶”ì²œ ì‹œìŠ¤í…œ(æ¨è–¦system)ì€ ì •ë³´ í•„í„°ë§ (IF) ê¸°ìˆ ì˜ ì¼ì¢…ìœ¼ë¡œ, íŠ¹ì • ì‚¬ìš©ìê°€ ê´€ì‹¬ì„ ê°€ì§ˆë§Œí•œ ì •ë³´ (ì˜í™”, ìŒì•…, ì±…, ë‰´ìŠ¤, ì´ë¯¸ì§€, ì›¹ í˜ì´ì§€ ë“±)ë¥¼ ì¶”ì²œí•˜ëŠ” ê²ƒì´ë‹¤. ì¶”ì²œ ì‹œìŠ¤í…œì—ëŠ” í˜‘ì—… í•„í„°ë§ ê¸°ë²•ì„ ì£¼ë¡œ ì‚¬ìš©í•œë‹¤. ì†Œì…œ ë¶ë§ˆí¬ ì‚¬ì´íŠ¸ì—ì„œ ë§í¬ë¥¼ ì‚¬ëŒë“¤ì—ê²Œ ì¶”ì²œí•˜ê³  ë¬´ë¹„ë Œì¦ˆ ë°ì´í„° ì„¸íŠ¸ì—ì„œ ì˜í™”ë¥¼ ì¶”ì²œí•˜ëŠ” ë°©ë²•ë“±ì´ ì´ì— ì†í•œë‹¤. [(Wikipedia)](https://ko.wikipedia.org/wiki/%EC%B6%94%EC%B2%9C_%EC%8B%9C%EC%8A%A4%ED%85%9C)

ìœ„ ì •ì˜ì— ë”°ë¼ ì¶”ì²œ ì‹œìŠ¤í…œì€ ì •ë³´ í•„í„°ë§ (Information Filtering)ìœ¼ë¡œ ì •ë³´ë¥¼ ì„ ë³„í•˜ëŠ” ê¸°ìˆ ë¡œ ë³¼ ìˆ˜ ìˆë‹¤. ì´ëŸ¬í•œ í•„í„°ë§ ë°©ë²•ìœ¼ë¡œ ì»¨í…ì¸  ê¸°ë°˜ í•„í„°ë§ (Content-based Filtering) ê³¼ í˜‘ì—… í•„í„°ë§ (Collaborative Filtering)ì´ ëŒ€í‘œì ìœ¼ë¡œ ì‚¬ìš©ëœë‹¤.

ì—¬ê¸°ì—ì„œ ì»¨í…ì¸  ê¸°ë°˜ í•„í„°ë§ (Content-based Filtering) ê³¼ í˜‘ì—… í•„í„°ë§ (Collaborative Filtering)ì˜ ì°¨ì´ëŠ” ë‹¤ìŒê³¼ ê°™ë‹¤.

ì»¨í…ì¸  ê¸°ë°˜ í•„í„°ë§ (Content-based Filtering)
- ì‚¬ìš©ìê°€ ì„ í˜¸í•œ ì•„ì´í…œì˜ ì‚¬ì „ ì •ì˜ëœ ì•„ì´í…œì˜ ì •ë³´(description)ì™€ íƒœê·¸, ì¹´í…Œê³ ë¦¬ ë“±ì˜ í‚¤ì›Œë“œë¥¼ ë°”íƒ•ìœ¼ë¡œ ìœ ì‚¬í•œ ì•„ì´í…œì„ ì¶”ì²œ
- ì‚¬ì „ ì •ì˜ê°€ ì˜ ë˜ì–´ ìˆëŠ” ê²½ìš°, ì‚¬ìš©ìì— ëŒ€í•œ ì •ë³´ê°€ ì ì–´ë„ ì¶”ì²œì´ ê°€ëŠ¥í•¨
- ëª…ì‹œëœ ì •ë³´ë“¤ì— ê¸°ë°˜í•˜ì—¬ ë¶„ì„í•˜ë¯€ë¡œ ê²°ê³¼ì— ëŒ€í•œ ì„¤ëª…ì„±ì´ ë†’ìŒ
- ì‚¬ì „ ì •ë³´ê°€ ì˜ êµ¬ì¶•ë˜ì–´ ìˆì§€ ì•Šìœ¼ë©´ ì˜¬ë°”ë¥¸ ì¶”ì²œì„ ì œê³µí•´ì£¼ê¸° ì–´ë ¤ì›€

í˜‘ì—… í•„í„°ë§ (Collaborative Filtering)
- ì‚¬ìš©ìê°„, ì•„ì´í…œê°„ì˜ ìœ ì‚¬ë„ì— ë”°ë¼ ìœ ì‚¬í•œ ì‚¬ìš©ìê°€ ì„ í˜¸í•˜ëŠ” ì•„ì´í…œ, ë˜ëŠ” ì‚¬ìš©ìê°€ ì„ í˜¸í•˜ëŠ” ì•„ì´í…œê³¼ ìœ ì‚¬í•œ ì•„ì´í…œì„ ì¶”ì²œ
- ì‚¬ì „ ì •ì˜ê°€ ë¶€ì •í™•í•´ë„ ì¶”ì²œì´ ê°€ëŠ¥í•˜ë¯€ë¡œ ì•„ì´í…œì˜ ë°ì´í„°ë² ì´ìŠ¤ êµ¬ì¶•ì— ë“œëŠ” ë¹„ìš©ì´ ê°ì†Œ
- ë°ì´í„°ê°€ ë¶€ì¡±í•œ ê²½ìš° ì˜¬ë°”ë¥¸ ì¶”ì²œì„ ì œê³µí•´ì£¼ê¸° ì–´ë ¤ì›€


### í˜‘ì—… í•„í„°ë§ (Collaborative Filtering: CF)
[ì°¸ì¡°](https://kmhana.tistory.com/31)

í˜‘ì—… í•„í„°ë§ ë¶„ë¥˜ [ì°¸ì¡°](https://towardsdatascience.com/various-implementations-of-collaborative-filtering-100385c6dfe0)

- ë©”ëª¨ë¦¬ ê¸°ë°˜ ì ‘ê·¼ ë°©ë²•, ëª¨ë¸ ê¸°ë°˜ ì ‘ê·¼ë°©ë²•ì´ ì¡´ì¬
- ì—¬ê¸°ì—ì„œ ì‚¬ìš©í•˜ëŠ” SVD ê¸°ë²•ì€ ëª¨ë¸ ê¸°ë°˜ ê¸°ë²•

### Matrix Factorization (MF)

- í–‰ë ¬ì„ ì–´ë– í•œ í–‰ë ¬ë“¤ì˜ ê³±ìœ¼ë¡œ í‘œí˜„í•  ìˆ˜ ìˆëŠ” í–‰ë ¬ì„ ì°¾ì•„ë‚´ëŠ” ê¸°ë²• (X = AB)
- ì´ì™€ ê°™ì€ í–‰ë ¬ì„ ì°¾ì•„ë‚¼ ë•Œ, ë³¸ë˜ í–‰ë ¬ì´ ê°€ì§„ ì •ë³´ë¥¼ ì£¼ë¡œ í¬í•¨í•˜ëŠ” ì¶•ê³¼ ì •ë³´ëŸ‰ì´ ì ì€ ì¶•ì„ êµ¬ë¶„í•  ìˆ˜ ìˆìŒ
- í–‰ë ¬ì˜ ì •ë³´ë¥¼ ì£¼ë¡œ í¬í•¨í•˜ëŠ” ì¶• ë§Œì„ ë‚¨ê²¨ í•´ë‹¹ ì¶•ì— ëŒ€í•œ ë²¡í„°ì¡°í•©ìœ¼ë¡œ ë³€í˜•í•˜ë©´ ë²¡í„° ë˜ëŠ” í–‰ë ¬ì„ ì ì¬ ê³µê°„ (Latent Space) ìƒìœ¼ë¡œ íˆ¬ì˜í•  ìˆ˜ ìˆìŒ (ì°¨ì› ê°ì†Œ: Dimensionality Reduction)
- íˆ¬ì˜ í–‰ë ¬ì˜ ì—­í–‰ë ¬ì„ í†µí•´ ì ì¬ ê³µê°„ìƒì˜ ë²¡í„° ë˜ëŠ” í–‰ë ¬ì„ ë³¸ë˜ì˜ ê°’ìœ¼ë¡œ ë³µì›í•  ìˆ˜ ìˆìŒ
- ëŒ€í‘œì ìœ¼ë¡œ íŠ¹ì´ê°’ ë¶„í•´ (Singular Value Decomposition: SVD), ì£¼ì„±ë¶„ ë¶„ì„ (Principal Compoent Analysis: PCA) ë“±ì´ ì¡´ì¬

### Matrix Factorization (MF) ê¸°ë°˜ í˜‘ì—… í•„í„°ë§
[ì°¸ì¡°](https://www.sallys.space/blog/2018/05/16/intro-to-resys/)

Latent spaceì˜ ì˜ˆì‹œ [ì°¸ì¡°](https://www.sallys.space/blog/2018/05/16/intro-to-resys/)

- ì‚¬ìš©ìì˜ ì•„ì´í…œì— ëŒ€í•œ ì„ í˜¸ ì •ë³´ë¥¼ ì ì¬ ê³µê°„ (latent space)ë¡œ íˆ¬ì˜í•˜ì—¬ í‘œí˜„í•˜ê³ , ì´ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ëŒ€ìƒì˜ ìœ ì‚¬ë„ë¥¼ íŒë³„í•˜ì—¬ ì¶”ì²œì„ ìˆ˜í–‰
- ì ì¬ê³µê°„ì˜ ì˜ˆì‹œë¡œëŠ” ìœ„ ê·¸ë¦¼ì—ì„œì™€ ê°™ì´ ì¥ë¥´ë‚˜ ì»¨í…ì¸  íŠ¹ì„± ë“±ì˜ ëª…ì‹œì  factor ë”°ë¼ ë¶„ì„í•˜ëŠ” ë°©ë²•ì´ ìˆìŒ. í—ˆë‚˜ ëª¨ë¸ ê¸°ë°˜ ë°©ë²•ì—ì„œëŠ” ì´ì™€ ê°™ì€ factorê°€ ë°ì´í„°ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì¶”ë¡ ë¨
- MF ê¸°ë°˜ í˜‘ì—… í•„í„°ë§ì—ì„œëŠ” ì‚¬ìš©ì-ì•„ì´í…œê°„ì˜ ì„ í˜¸ ì •ë³´ë¥¼ í‘œí˜„í•œ í–‰ë ¬ì„ í–‰ë ¬ ë¶„í•´ (Matrix Factorization: MF) ë°©ë²•ì„ í†µí•´ ì‚¬ìš©ìì˜ ì„ í˜¸ ì •ë³´ë¥¼ ì ì¬ ê³µê°„ìœ¼ë¡œì˜ íˆ¬ì˜ í–‰ë ¬ì„ ê³„ì‚°
- ì‚¬ìš©ìì˜ ì•„ì´í…œì— ëŒ€í•œ ì„ í˜¸ vectorë¥¼ íˆ¬ì˜ í–‰ë ¬ì„ í†µí•´ latent spaceë¡œ íˆ¬ì˜ì‹œì¼œ ìƒˆë¡œìš´ ì•„ì´í…œì— ëŒ€í•œ ì„ í˜¸ë¥¼ ì•Œ ìˆ˜ ìˆìŒ

### íŠ¹ì´ê°’ ë¶„í•´ (Singular Value Decomposition: SVD) ë¥¼ í†µí•œ MF

- SVDëŠ” í–‰ë ¬ì˜ íŠ¹ì´ê°’ (Singular Value)ë¥¼ ê¸°ë°˜ìœ¼ë¡œ í–‰ë ¬ì„ ë¶„í•´í•˜ëŠ” ê¸°ë²• [ì°¸ì¡°](https://angeloyeo.github.io/2019/08/01/SVD.html)
- SVDëŠ” í–‰ë ¬ $X$ì— ëŒ€í•´ ë‹¤ìŒ ì‹ì´ ì„±ë¦½í•˜ëŠ” í–‰ë ¬ ê°’ì„ ê³„ì‚°
  - $XV = U\Sigma$
  - $U$ ëŠ” ê° ì¶•ì´ ì„œë¡œ ì§êµí•˜ëŠ” ë°±í„°ë¡œ êµ¬ì„±ëœ í–‰ë ¬
  - $\Sigma$ ëŠ” ê° ëŒ€ê° ì›ì†Œ $\sigma_i$ê°€ íŠ¹ì´ê°’ì„ ë‚˜íƒ€ë‚´ëŠ” ëŒ€ê° í–‰ë ¬
  - ì´ë¥¼ í†µí•´, ì§êµí–‰ë ¬(orthogonal matrix) $V$ì˜ ì—´ë²¡í„°ì— ëŒ€í•´, Aë¡œ ì„ í˜• ë³€í™˜í•  ë•Œ í¬ê¸°ê°€ ê°ê° $\sigma_i$ ë§Œí¼ ë³€í•˜ì§€ë§Œ ì—¬ì „íˆ ì§êµí•˜ëŠ” í–‰ë ¬ $U$ë¥¼ ì°¾ëŠ” ë¬¸ì œë¡œ ë‚˜íƒ€ë‚¼ ìˆ˜ ìˆìŒ


### SVD í˜‘ì—… í•„í„°ë§ì„ í†µí•œ DKT ë¬¸ì œ

- DKT ì—ì„œì˜ 'ì§€ì‹'ì€ ë¬¸ì œë¥¼ ë§ì¶œ ìˆ˜ ìˆì„ì§€ ì—†ì„ì§€ì— ëŒ€í•œ hidden factor
- DKTì—ì„œì˜ 'ì§€ì‹'ì€ í˜‘ì—… í•„í„°ë§ì—ì„œì˜ ì‚¬ìš©ìì˜ 'ì·¨í–¥'ê³¼, ë¬¸ì œì˜ ì •ë‹µ ì—¬ë¶€ëŠ” í˜‘ì—… í•„í„°ë§ì—ì„œì˜ ì•„ì´í…œì˜ 'ì„ í˜¸ë„'ë¡œ ë§¤í•‘ë  ìˆ˜ ìˆìŒ
- ë”°ë¼ì„œ ì„ í˜¸ë¥¼ í†µí•´ ì‚¬ìš©ìì˜ ì·¨í–¥ì„ ì¶”ë¡ í•˜ë“¯, ë¬¸ì œì˜ ì •ë‹µ ì—¬ë¶€ë¥¼ í†µí•´ ë¬¸ì œì— ëŒ€í•œ ì§€ì‹ ì •ë„ë¥¼ ì¶”ë¡  ê°€ëŠ¥
- ë‹¨, DKTì—ì„œëŠ” ì£¼ë¡œ ì‹œê°„ì— ë”°ë¥¸ ì§€ì‹ ë³€í™”ë¥¼ 'ì¶”ì 'í•˜ëŠ” ë°ì— ì´ˆì ì„ ë§ì¶”ê³  ìˆìœ¼ë‚˜, í˜‘ì—… í•„í„°ë§ì€ ì‹œê°„ì— ë”°ë¥¸ ì·¨í–¥ì˜ ë³€í™”ê°€ ì—†ìŒì„ ì „ì œë¡œ í•˜ê³  ìˆìŒ. ë”°ë¼ì„œ ì‹œê°„ ìš”ì†ŒëŠ” í˜‘ì—… í•„í„°ë§ì—ì„œ ë³´í†µ ê³ ë ¤ë˜ì§€ ì•Šìœ¼ë©°, ì´ì— ëŒ€í•œ ì¶”ë¡ ì— í•œê³„ê°€ ìˆìŒì„ ê°ì•ˆí•  í•„ìš”ê°€ ìˆìŒ.

### ì‹¤ìŠµ ì§„í–‰ ë‚´ìš©

- í™˜ê²½ ì„¤ì • ë° ì „ì²˜ë¦¬ : DKT ë¬¸ì œì˜ ë°ì´í„°ë¥¼ í˜‘ì—… í•„í„°ë§ì— ë§ëŠ” í˜•íƒœë¡œ ë³€í˜•í•˜ëŠ” ë°©ë²• ì„¤ëª…
- SVD ë¶„ì„ : SVDì˜ ê°œë…ê³¼ ì´ë¥¼ í†µí•´ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ëŠ” ë°©ë²• ì„¤ëª…
- ì˜ˆì¸¡ë° í‰ê°€ : SVD ë¶„ì„ìœ¼ë¡œ ìƒì„±ëœ ë³€í™˜ í–‰ë ¬ì„ í†µí•´ DKT ë¬¸ì œë¥¼ ì¶”ë¡ í•˜ëŠ” ë°©ë²• ì„¤ëª…

## âš™ï¸ í™˜ê²½ ì„¤ì • ë° ì „ì²˜ë¦¬ (Environment Setting & Preprocessing)

### Loading Library

In [1]:
import numpy as np # linear algebra
import pandas as pd
import random
from scipy.sparse.linalg import svds
from sklearn.metrics import accuracy_score, roc_auc_score

### Data Load

In [4]:
train_data = pd.read_csv('../data/train_data.csv')
test_data  = pd.read_csv('../data/test_data.csv')

### ë°ì´í„° êµ¬ì„±

- ë°ì´í„°ëŠ” í•™ìŠµ ë°ì´í„°ì…‹ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ìœ¼ë¡œ êµ¬ë¶„ë˜ì–´ ìˆë‹¤.
- ê° ë°ì´í„°ì—ëŠ” userID, assessmentItemID, testId, answerCode, Timestamp, KnowledgeTagì˜ ì •ë³´ê°€ ìˆë‹¤.
- ì—¬ê¸°ì„œ assessmentItemIDëŠ” ë¬¸ì œì˜ ê³ ìœ  IDì´ë©°, answerCodeëŠ” ì‚¬ìš©ìê°€ í•´ë‹¹ ë¬¸ì œì˜ ì •ë‹µì„ ë§ì·„ëŠ”ì§€ ì—¬ë¶€ë¡œ, ë§ì·„ìœ¼ë©´ 1, í‹€ë ¸ìœ¼ë©´ 0ìœ¼ë¡œ í‘œê¸°ëœë‹¤.
- ê¸°ë³¸ì ì¸ í˜‘ì—… í•„í„°ë§ ì ìš©ì„ ìœ„í•´ ë³¸ ì‹¤ìŠµì—ì„œëŠ” userID, assessmentItemID, answerCodeë§Œì„ ì‚¬ìš©í•œë‹¤.

In [5]:
userid, itemid = list(set(train_data.userID)), list(set(train_data.assessmentItemID))
n_user, n_item = len(userid), len(itemid)

print(f"Train dataset")
display(train_data.head(5))
print(f" Num. Users    : {n_user}")
print(f" Max. UserID   : {max(userid)}")
print(f" Num. Items    : {n_item}")
print(f" Num. Records  : {len(train_data)}")

userid, itemid = list(set(test_data.userID)), list(set(test_data.assessmentItemID))
n_user, n_item = len(userid), len(itemid)

print(f"Test dataset")
display(test_data.head(5))
print(f" Num. Users    : {n_user}")
print(f" Max. UserID   : {max(userid)}")
print(f" Num. Items    : {n_item}")
print(f" Num. Records  : {len(test_data)}")

Train dataset

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225

 Num. Users    : 6698
 Max. UserID   : 7441
 Num. Items    : 9454
 Num. Records  : 2266586
Test dataset

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,3,A050023001,A050000023,1,2020-01-09 10:56:31,2626
1,3,A050023002,A050000023,1,2020-01-09 10:56:57,2626
2,3,A050023003,A050000023,0,2020-01-09 10:58:31,2625
3,3,A050023004,A050000023,0,2020-01-09 10:58:36,2625
4,3,A050023006,A050000023,0,2020-01-09 10:58:43,2623

 Num. Users    : 744
 Max. UserID   : 7439
 Num. Items    : 9454
 Num. Records  : 260114

In [6]:
display(test_data.tail(3))

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260111,7439,A040130003,A040000130,1,2020-10-14 23:08:02,8244
260112,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244
260113,7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832

ìœ„ì™€ ê°™ì´ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ì—ì„œëŠ” answerCodeê°€ -1ì¸ ê²½ìš°ê°€ ë‚˜íƒ€ë‚œë‹¤. ì´ëŠ” í‰ê°€ë¥¼ ìœ„í•œ ê²ƒìœ¼ë¡œ í•´ë‹¹ ë ˆì½”ë“œëŠ” ì œì™¸í•˜ê³  ì‹¤ìŠµì„ ìˆ˜í–‰í•œë‹¤.

### Data Preprocessing

ì¤‘ë³µ ë ˆì½”ë“œ ì œê±°
 - RS ëª¨ë¸ì—ì„œëŠ” ì‹œê°„ì— ë”°ë¥¸ ë³€í™”ë¥¼ ê³ ë ¤í•˜ì§€ ì•Šê¸° ë•Œë¬¸ì— ìµœì¢… ì„±ì ë§Œì„ ë°”íƒ•ìœ¼ë¡œ í‰ê°€í•œë‹¤.
 - ì‚¬ìš©ì+ë¬¸ì œí•­ëª©ì„ Unique keyë¡œ í•˜ì—¬ ìµœì¢… ë ˆì½”ë“œë§Œì„ ë³´ì¡´í•˜ê³  ë‚˜ë¨¸ì§€ ì œê±°í•œë‹¤.

In [7]:
train_data.drop_duplicates(subset = ["userID", "assessmentItemID"],
                     keep = "last", inplace = True)
test_data.drop_duplicates(subset = ["userID", "assessmentItemID"],
                     keep = "last", inplace = True)

ë¶ˆí•„ìš”í•œ column ì œê±°
- ë‹¤ìŒê³¼ ê°™ì´ pandasì—ì„œëŠ” ë¶ˆí•„ìš”í•œ columnì„ ì œê±°í•  ìˆ˜ ìˆë‹¤.

In [8]:
train_data.drop(['Timestamp','testId','KnowledgeTag'],
                axis=1, inplace=True, errors='ignore')
train_data.head(10)

   userID assessmentItemID  answerCode
0       0       A060001001           1
1       0       A060001002           1
2       0       A060001003           1
3       0       A060001004           1
4       0       A060001005           1
5       0       A060001007           1
6       0       A060003001           0
7       0       A060003002           1
8       0       A060003003           1
9       0       A060003004           1

í‰ê°€ í•­ëª© ì œê±°
- í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ì—ì„œ answerCodeê°€ -1ì¸ í•­ëª©ì€ ìµœì¢… í‰ê°€ì‹œ ì‚¬ìš©ë˜ëŠ” í•­ëª©ìœ¼ë¡œ ì—¬ê¸°ì—ì„  ì‚¬ìš©í•  ìˆ˜ ì—†ë‹¤.
- ì•„ë˜ ê²°ê³¼ì—ì„œì™€ ê°™ì´ User, Item ìˆ˜ëŠ” ë³€í™” ì—†ì´ ì´ ë ˆì½”ë“œ ìˆ˜ë§Œ ë³€í•œë‹¤.

In [9]:
test_data_old = test_data.copy()
n_user_old, n_item_old = n_user, n_item

test_data  = test_data[test_data.answerCode>=0].copy()

userid, itemid = list(set(test_data.userID)), list(set(test_data.assessmentItemID))
n_user, n_item = len(userid), len(itemid)

display(test_data.tail(5))
print(f" Num. Users    : {n_user}->{n_user}")
print(f" Max. UserID   : {max(userid)}")
print(f" Num. Items    : {n_item}->{n_item}")
print(f" Num. Records  : {len(test_data_old)}->{len(test_data)}")

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260108,7439,A040197006,A040000197,1,2020-08-21 07:39:45,2132
260109,7439,A040130001,A040000130,0,2020-10-14 23:07:23,8832
260110,7439,A040130002,A040000130,1,2020-10-14 23:07:41,8832
260111,7439,A040130003,A040000130,1,2020-10-14 23:08:02,8244
260112,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244

 Num. Users    : 744->744
 Max. UserID   : 7439
 Num. Items    : 9454->9454
 Num. Records  : 256073->255329

í‰ê°€ í•­ëª© ì‹ ê·œ ìƒì„±
- ë‚¨ì€ í…ŒìŠ¤íŠ¸ í•­ëª© ì¤‘, ê° ì‚¬ìš©ìë³„ ìµœì¢… ë ˆì½”ë“œë¥¼ ìƒˆë¡œìš´ í‰ê°€ í•­ëª©ìœ¼ë¡œ ì •í•œë‹¤.

In [10]:
eval_data = test_data.copy()
eval_data.drop_duplicates(subset = ["userID"],
                     keep = "last", inplace = True)
display(eval_data.head(5))
display(eval_data.tail(5))
print(f" Num. Records  : {len(eval_data)}")

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
1034,3,A050133007,A050000133,0,2020-10-26 13:13:11,5289
1705,4,A070146007,A070000146,1,2020-12-27 02:47:31,9080
3022,13,A070111007,A070000111,1,2020-12-27 04:35:01,9660
4282,17,A090064005,A090000064,1,2020-10-30 05:47:22,2611
4669,26,A060135006,A060000135,0,2020-10-23 11:44:01,1422

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260051,7395,A040122004,A040000122,0,2020-09-08 02:05:18,2102
260066,7404,A030111004,A030000111,1,2020-10-13 09:47:31,7636
260081,7416,A050193003,A050000193,0,2020-10-04 02:44:17,10402
260096,7417,A050193003,A050000193,0,2020-09-06 13:08:54,10402
260112,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244

 Num. Records  : 744

í‰ê°€ í•­ëª©ì„ í…ŒìŠ¤íŠ¸ í•­ëª©ì—ì„œ ì œê±°í•œë‹¤.

In [11]:
test_data.drop(index=eval_data.index, inplace=True, errors='ignore')
display(test_data.tail(5))
print(f" Num. Records  : {len(test_data)}")

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260107,7439,A040197005,A040000197,0,2020-08-21 07:39:40,2132
260108,7439,A040197006,A040000197,1,2020-08-21 07:39:45,2132
260109,7439,A040130001,A040000130,0,2020-10-14 23:07:23,8832
260110,7439,A040130002,A040000130,1,2020-10-14 23:07:41,8832
260111,7439,A040130003,A040000130,1,2020-10-14 23:08:02,8244

 Num. Records  : 254585

ì‚¬ìš©ì - ë¬¸ì œí•­ëª© ê´€ê³„ë¥¼ pivot í…Œì´ë¸”ë¡œ ë³€ê²½
 - ê° ì‚¬ìš©ìë³„ë¡œ í•´ë‹¹ ë¬¸ì œë¥¼ ë§ì·„ëŠ”ì§€ ì—¬ë¶€ë¥¼ matrix í˜•íƒœë¡œ ë³€ê²½
 - í•´ë‹¹ ë¬¸ì œë¥¼ í‘¼ ì ì´ ì—†ëŠ” ê²½ìš° 0.5(ì˜ˆì‹œ)ìœ¼ë¡œ ì„¤ì •

In [12]:
matrix_train = train_data.pivot_table('answerCode', index='userID', columns='assessmentItemID')
matrix_train.fillna(0.5, inplace=True)
display(matrix_train.head(5))
print(f"Result Shape is {matrix_train.shape}")

assessmentItemID,A010001001,A010001002,A010001003,A010001004,A010001005,A010002001,A010002002,A010002003,A010002004,A010002005,...,A090073003,A090073004,A090073005,A090073006,A090074001,A090074002,A090074003,A090074004,A090074005,A090074006
userID,,,,,,,,,,,,,,,,,,,,,
0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
2,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
6,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5

Result Shape is (6698, 9454)

## ğŸ¯ SVD ë¶„ì„

### ë°ì´í„° ì¸ë±ìŠ¤ ë§¤í•‘ ìƒì„±

ì‚¬ìš©ì/ë¬¸ì œí•­ëª© IDì™€ tableìƒì—ì„œì˜ indexë¥¼ ë§¤ì¹­ì‹œí‚¤ê¸° ìœ„í•œ lookup tableì„ dictionary í˜•íƒœë¡œ ìƒì„±

In [13]:
user_id2idx = {v:i for i,v in enumerate(matrix_train.index)}
user_idx2id = {i:v for i,v in enumerate(matrix_train.index)}

item_id2idx = {v:i for i,v in enumerate(matrix_train.columns)}
item_idx2id = {i:v for i,v in enumerate(matrix_train.columns)}

### S

ì‚¬ìš©ì - ë¬¸ì œí•­ëª©ì˜ pivot tableì„ normalizeëœ matrixë¡œ ë³€ê²½

$A = ${User - Item ê°„ì˜ valueë¥¼ ì €ì¥í•˜ëŠ” matrix}

$A = R^{n_{user} \times n_{item}}$

In [14]:
A = matrix_train.values
a_mean = np.mean(A, axis=1)
Am = A - a_mean.reshape(-1,1)
display(pd.DataFrame(Am, columns=matrix_train.columns).head())

assessmentItemID,A010001001,A010001002,A010001003,A010001004,A010001005,A010002001,A010002002,A010002003,A010002004,A010002005,...,A090073003,A090073004,A090073005,A090073006,A090074001,A090074002,A090074003,A090074004,A090074005,A090074006
0,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313,...,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313,-0.010313
1,-0.033584,-0.033584,-0.033584,-0.033584,-0.033584,-0.033584,-0.033584,-0.033584,-0.033584,-0.033584,...,0.466416,0.466416,0.466416,0.466416,-0.533584,0.466416,0.466416,0.466416,0.466416,0.466416
2,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279,...,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279,-0.003279
3,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074,...,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074,-0.026074
4,0.006717,0.006717,0.006717,0.006717,0.006717,0.006717,0.006717,0.006717,0.006717,0.006717,...,0.006717,0.006717,0.006717,0.006717,0.006717,0.006717,0.006717,0.006717,0.006717,0.006717

ìœ„ matrixë¥¼ ë°”íƒ•ìœ¼ë¡œ SVD ë¶„ì„ ìˆ˜í–‰

SVD
 - Target matrix $A$ì— ëŒ€í•´ $A = U \Sigma V$ ì¸ $U, \Sigma, V$ ë¥¼ êµ¬í•¨
 - ì—¬ê¸°ì„œ $U, \Sigma, V$ ëŠ” ì•„ë˜ì™€ ê°™ìŒ
   - $U = R^{ n_{user} \times n_{factor} }$
   - $\Sigma = R^{ n_{factor} \times n_{factor} }$ ì¸ ëŒ€ê°í–‰ë ¬
   - $V = R^{ n_{factor} \times n_{item} }$

In [15]:
U, sigma, V = svds(Am, k=12)
print(f"U={U.shape}, sigma={sigma.shape}, V={V.shape}")
print(f"Singular Vlaues : {sigma}")

U=(6698, 12), sigma=(12,), V=(12, 9454)
Singular Vlaues : [ 55.84676263  58.08435018  58.50497257  61.71803668  69.91786616
  73.61657956  76.9598095   78.04681812  82.45156947  85.45001842
  91.51120585 101.4153135 ]

ì¶”ë¡ ì„ ìœ„í•´ predict matrix ë³µì›
 - ì²˜ìŒ pivot tableì˜ ê°’ì„ SVDë¡œ êµ¬í•œ matrixë¥¼ í†µí•´ ë³µì›í–ˆì„ ë•Œ, ë‘ í–‰ë ¬ ì‚¬ì´ì˜ ì˜¤ì°¨ (restore error) ëŠ” 0ì— ê°€ê¹Œìš¸ìˆ˜ë¡ SVDê°€ ì˜¬ë°”ë¥´ê²Œ êµ¬í•´ì§

In [16]:
Sigma = np.diag(sigma)
A_pred = U @ Sigma @ V + a_mean.reshape(-1,1)
restore_error = np.sum(np.square(A_pred - A)) /A_pred.size
print(f"Restore Error : {restore_error}")

Restore Error : 0.007568071517679343

## ğŸ¯ ì˜ˆì¸¡ ë° í‰ê°€

### í•™ìŠµ ë°ì´í„° ì¬í˜„ í‰ê°€

ì˜ˆì¸¡ í•¨ìˆ˜ ì •ì˜

In [17]:
def predict(userid, itemid):
    useridx = user_id2idx[userid]
    itemidx = item_id2idx[itemid]
    
    return A_pred[useridx, itemidx]

í•™ìŠµì— ì‚¬ìš©í•œ ë°ì´í„°ë¥¼ ì–¼ë§ˆë‚˜ ì˜ ì˜ˆì¸¡í•˜ëŠ”ì§€ í‰ê°€

In [18]:
a_prob = [predict(u,i) for u,i in zip(train_data.userID, train_data.assessmentItemID)]
a_pred = [round(v) for v in a_prob] 
a_true = train_data.answerCode

print("Train data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Train data prediction
 - Accuracy = 75.92%
 - ROC-AUC  = 78.02%

ìœ„ ì½”ë“œì—ì„œëŠ” ì´ë¯¸ í•™ìŠµëœ ì‚¬ìš©ìì— ëŒ€í•´ì„œë§Œ ì¶”ë¡ ê°’ì„ ê³„ì‚° ê°€ëŠ¥í•˜ë‹¤.

- í…ŒìŠ¤íŠ¸ ë°ì´í„°ì˜ ì‚¬ìš©ìëŠ” í•™ìŠµ ë°ì´í„°ì…‹ì— ì¡´ì¬í•˜ì§€ ì•ŠëŠ”ë‹¤.
- ë”°ë¼ì„œ í•´ë‹¹ ì‚¬ìš©ìì˜ ê°’ì„ ê°€ì ¸ì˜¬ ìˆ˜ ì—†ê¸°ì— í‚¤ ì—ëŸ¬ê°€ ë°œìƒí•œë‹¤.

In [19]:
try:
    a_prob = [predict(u,i) for u,i in zip(test_data.userID, test_data.assessmentItemID)]
    a_pred = [round(v) for v in a_prob]
    a_true = test_data.answerCode

    print("Test data prediction")
    print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
    print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")
except:
    print("Error Occurs!!")

Error Occurs!!

### í…ŒìŠ¤íŠ¸ ë°ì´í„° ì¬í˜„ í‰ê°€

í•™ìŠµë˜ì§€ ì•Šì€ ì‚¬ìš©ìì— ëŒ€í•´ì„œë„ ë¬¸ì œë¥¼ í‘¼ ë°ì´í„°ê°€ ì¡´ì¬í•  ê²½ìš° ì´ë¥¼ ë°”íƒ•ìœ¼ë¡œ ì¶”ë¡  ê°€ëŠ¥í•˜ë‹¤.

$B = $ {í•™ìŠµë˜ì§€ ì•Šì€ ì‚¬ìš©ìì— ëŒ€í•œ User - Item ê°„ value í–‰ë ¬}

$ A = U \Sigma V$ ì¼ë•Œ factor matrx $A_{factor} = R^{n_{user} \times n_{factor}}$ ì¸ $A_{factor}$ ëŠ”
- $A_{factor} \Sigma V = A$
- $A_{factor} = A {(\Sigma V)}^+ = A V^T \Sigma^+  $ ($U, V$ ëŠ” ì§êµí–‰ë ¬)

$ B_{pred} \approx B_{factor} \Sigma V  = B V^T \Sigma^+ \Sigma V$

In [20]:
def predict(matrix, userid, itemid, user_id2idx, item_id2idx):
    
    Sigma_i = np.diag(1/sigma)
    pred_matrix = V.T @ Sigma_i @ Sigma @ V
    
    B = matrix
    B_mean = np.mean(B, axis=1)
    Bm = B - B_mean.reshape(-1,1)

    B_pred =  B @ pred_matrix + B_mean.reshape(-1,1)

    ret = [B_pred[user_id2idx[u], item_id2idx[i]] for u,i in zip(userid, itemid)]
    return ret

í•™ìŠµ ë°ì´í„° ì¬í˜„ ì„±ê³µë¥

In [21]:
a_prob = predict(matrix_train.values, train_data.userID, train_data.assessmentItemID, user_id2idx, item_id2idx)
a_true = train_data.answerCode
a_pred = [round(v) for v in a_prob]

print("Train data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Train data prediction
 - Accuracy = 75.92%
 - ROC-AUC  = 78.02%

í…ŒìŠ¤íŠ¸ ë°ì´í„° ì¬í˜„ ì„±ê³µë¥

In [24]:
# item_id2idxëŠ” trainì—ì„œ ì‚¬ìš©í•œ ê²ƒì„ ë‹¤ì‹œ ì‚¬ìš©í•œë‹¤.
userid = sorted(list(set([u for u in test_data.userID])))
user_id2idx_test = {v:i for i,v in enumerate(userid)}

matrix_test = 0.5*np.ones((len(userid), len(item_id2idx)))
for user,item,a in zip(test_data.userID, test_data.assessmentItemID, test_data.answerCode):
    user,item = user_id2idx_test[user],item_id2idx[item]
    matrix_test[user,item] = a

# ì„±ëŠ¥ ì¸¡ì •
a_prob = predict(matrix_test, test_data.userID, test_data.assessmentItemID, user_id2idx_test, item_id2idx)
a_true = test_data.answerCode
a_pred = [round(v) for v in a_prob] 

print("Test data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Test data prediction
 - Accuracy = 75.39%
 - ROC-AUC  = 77.23%

### í…ŒìŠ¤íŠ¸ í‰ê°€ ë°ì´í„° ì¬í˜„ í‰ê°€

í…ŒìŠ¤íŠ¸ ë°ì´í„° ê¸°ë°˜ ì„ ë³„ëœ í‰ê°€í•­ëª© ì¶”ë¡

In [27]:
import os
a_prob = predict(matrix_test, eval_data.userID, eval_data.assessmentItemID, user_id2idx_test, item_id2idx)
a_true = eval_data.answerCode
a_pred = [round(v) for v in a_prob] 

output_dir = "output/"
write_path = os.path.join(output_dir, "submission_MF_SVD.csv")
if not os.path.exists(output_dir):
    os.makedirs(output_dir)
with open(write_path, "w", encoding="utf8") as w:
    w.write("id,prediction\n")
    for id, p in enumerate(a_pred):
        w.write("{},{}\n".format(id, p))

print("Test data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Test data prediction
 - Accuracy = 70.43%
 - ROC-AUC  = 73.84%